nav {
    background-color: rgb(67, 65, 65);
}

#logo {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

li {
    display: inline;
    margin: 20px;
    padding: 20px;
    color: lightgray;
}
